body {
    background-color: #f4f4f4; /* Вы можете изменить это на любой светлый цвет по вашему выбору */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Гарантирует, что форма останется по центру */
}
.login-form {
    background-color: rgb(250, 240, 240); /* Измените это, если хотите другой цвет */
    padding: 20px; /* Добавляет пространство внутри формы */
    border-radius: 10px; /* Закругляет углы */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Мягкий эффект парения */
    border: 2px solid #ddd; /* Добавляет рамку светло-серого цвета */
    text-align: center; /* Центрирует текст внутри формы */
}

input {
    width: 100%; /* Делает поля ввода соответствующими ширине формы */
    padding: 10px; /* Добавляет пространство внутри поля ввода */
    border: 1px solid #ccc; /* Рамка мягкого цвета */
    border-radius: 5px; /* Закругляет углы */
    margin: 10px 0; /* Добавляет пространство между полями ввода */
    box-sizing: border-box; /* Гарантирует, что ширина включает внутренние отступы и рамку */
}
